@import url('https://fonts.googleapis.com/css2?family=Edu+AU+VIC+WA+NT+Guides:wght@400..700&family=Playwrite+GB+S:ital,wght@0,100..400;1,100..400&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;




.bg-main {
    background-image: url("../public/images/abstract-rough-surface-background.jpg");
    background-size: cover;
    backdrop-filter: blur(1px);
}

.font-playwrite {
    font-family: "Playwrite GB S", cursive;
}

.scrollbar-hidden::-webkit-scrollbar {
    display: none;
    /* Hide scrollbar */
}